.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #323232;
}

nav {
    border-bottom: 1px solid #323232;

    img {
        width: 200px;
    }
}

img {
    width: 225px;
}