<mat-icon svgIcon="arrow-back" class="arrow-back" routerLink="/"></mat-icon>

<div class="center">
    <img *ngIf="isMobile" src="/assets/logo_p6.png" alt="logo" />
    <h1>Se connecter</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="Email">Email</label>
        <input type="text" formControlName="email" id="email">
        <label for="Password">Mot de passe</label>
        <input type="password" formControlName="password" id="password">
        <button type="submit" class="button-submit">Se connecter</button>
    </form>
    <span *ngIf="isError">Bad credentials</span>
</div>