<div class="card-container" *ngIf="article">
    <div class="card-header">
        <mat-icon svgIcon="arrow-back" class="arrow-back" routerLink="/feed"></mat-icon>
        <h1>{{ article.title }}</h1>
    </div>
    <div class="card">
        <div class="infos">
            <span>{{ article.created_at | date }}</span>
            <span>{{ article.user.username }}</span>
            <span>{{ article.subject.name }}</span>
        </div>
        <p>Content: {{ article.content }}</p>
    </div>

    <hr>

    <h2>Commentaires</h2>

    <div class="comment-container">
        <div *ngFor="let comment of article.commentaries">
            <div class="comment-card">
                <span>{{ comment.user.username }}</span>
                <div class="comment-content">{{ comment.content }}</div>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit(article.id)" class="form-detail">
        <input type="text" formControlName="content" placeholder="Écrivez votre commentaire ici">
        <button type="submit">
            <mat-icon svgIcon="send"></mat-icon>
        </button>
    </form>
</div>