<div class="action-container">
    <button routerLink="/create">Créer un article</button>
    <span (click)="sortByDate()">
        Trier par
        <mat-icon *ngIf="!isSorted; else sorted">arrow_upward</mat-icon>
        <ng-template #sorted>
            <mat-icon>arrow_downward</mat-icon>
        </ng-template>
    </span>
</div>
<div class="article-container">
    <mat-card *ngFor="let article of (articles$ | async)" class="card" [routerLink]="['/detail', article.id]">
        <mat-card-header>
            <h2>{{article.title}}</h2>
            <div class="infos">
                <mat-card-subtitle>{{article.created_at | date}}</mat-card-subtitle>
                <mat-card-subtitle>{{article.user.username}}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content>
            Content: {{article.content}}
        </mat-card-content>
    </mat-card>
</div>