<img src="/assets/Arrow 9.png" alt="arrow-back">
<div class="center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">

        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" placeholder="Entrez votre email">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password">

        <button type="submit" [disabled]="form.invalid">S'inscrire</button>
        <span *ngIf="isError">{{errorMessage}}</span>
    </form>
</div>
