<div *ngIf="!isMobile">
        <nav *ngIf="showNavBar && !isMobile">
                <img src="/assets/logo_p6.png" alt="logo">
                <ol *ngIf="!isLoginPage">
                        <li class="disconnect" (click)="disconnect()">Se déconnecter</li>
                        <li routerLink="/feed">Articles</li>
                        <li routerLink="/subjects">Thèmes</li>
                        <li routerLink="/profile" class="profile" *ngIf="isProfilePage; else isNot">
                                <mat-icon>person</mat-icon>
                        </li>
                        <ng-template #isNot>
                                <li routerLink="/profile" class="profile-page">
                                        <mat-icon>person</mat-icon>
                                </li>
                        </ng-template>
                </ol>
        </nav>
        <router-outlet></router-outlet>
</div>

<mat-drawer-container *ngIf="isMobile" class="example-container">
        <mat-drawer #drawer position="end">
                <ol>
                        <div class="direct-link">
                                <li class="disconnect" (click)="disconnect(); drawer.close()">Se déconnecter</li>
                                <li routerLink="/feed" (click)="drawer.close()">Articles</li>
                                <li routerLink="/subjects" (click)="drawer.close()">Thèmes</li>
                        </div>
                        <li routerLink="/profile" class="profile" *ngIf="isProfilePage; else isNot"
                                (click)="drawer.close()">
                                <mat-icon>person</mat-icon>
                        </li>
                        <ng-template #isNot>
                                <li routerLink="/profile" class="profile-page" (click)="drawer.close()">
                                        <mat-icon>person</mat-icon>
                                </li>
                        </ng-template>
                </ol>
        </mat-drawer>
        <mat-drawer-content>
                <nav *ngIf="isMobile && showNavBar && !isLoginPage" class="mobile-nav">
                        <img src="/assets/logo_p6.png" alt="logo">
                        <mat-icon (click)="drawer.toggle()" class="burger-menu">menu</mat-icon>
                </nav>
                <router-outlet></router-outlet>
        </mat-drawer-content>
</mat-drawer-container>