.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

button {
    color: #FFFFFF;
    margin: 24px auto;
    background-color: #7763C5;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        opacity: .5;
    }
}

nav {
    border-bottom: 1px solid #323232;

    img {
        width: 200px;
    }
}

svg {
    padding: 10px;
}

img {
    width: 225px;
}

span {
    color: red;
}
