<mat-icon svgIcon="arrow-back" class="arrow-back" routerLink="/"></mat-icon>

<div class="center">

    <img *ngIf="isMobile" src="/assets/logo_p6.png" alt="logo" />
    <h1>Inscription</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">

        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password">

        <button type="submit" [disabled]="form.invalid">S'inscrire</button>
        <span *ngIf="isError">{{errorMessage}}</span>
    </form>
</div>