<div class="subjects-container">
    <mat-card class="subject-card" *ngFor="let subject of updatedSubjects">
        <mat-card-header>
            <mat-card-title>{{ subject.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Description: {{ subject.description }}
        </mat-card-content>
        <mat-card-actions class="subscribe" align="start">
            <button mat-button *ngIf="!subject.isSub; else Sub" (click)="subscribe(subject.id)">S'abonner</button>
            <ng-template #Sub>
                <button mat-button class="disabled">Déjà abonné</button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div>