.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    img {
      width: 300px;
    }
  }
}

.button-container {
  display: flex;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 36px;
  }
}

button {
  border-radius: 8px;
  border: 1px solid #323232;
  width: 150px;

}